<div class="container">
  <div class="search-customers">
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Search for a customer:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <div class="debt-report">
    <%= link_to("List Debtors", debtors_path ) %>
  </div>
</div>
